.hero-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.hero-container div:nth-child(1) {
  width: 20%;
  height: 100%;

}

.hero-container div:nth-child(2) {
  width: 60%;
  height: 60%;
  padding: 0 2rem;
  border-left: 4px solid var(--blue);
}

.hero-container div:nth-child(1),
.hero-container div:nth-child(2)
 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container p {
  text-align: justify;
}

.hero-container span {
  color: var(--blue);
}

.details {
  width: 100%;
}

.details small,
.details p,
.details a {
  font-size: 1rem;
  color: white;
  margin-left: 0.5rem;
}

.details svg {
  margin-left: 0.5rem;
}

@media (max-width: 60rem) {
  .hero-container {
    display: block;
    margin: 4rem 0;
  }

  .hero-container div:nth-child(1),
  .hero-container div:nth-child(2) {
    width: 100%;
  }

  .hero-container div:nth-child(2) {
    height: 60%;
    padding: 0rem;
    border-left: 0px;
  }

  .hero-container div:nth-child(1) {
    height: 20%;
  }
}
