.list-item {
  width: 16rem;
  height: 28rem;
  list-style: none;
  margin: 1rem;
  background-color: #1b1f219e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 3px 12px var(--grey);
}

.list-item:hover {
  transform: scale(1.03);
  background-color: #23282b9e;
}

.img-wrapper {
  width: 100%;
  height: 14rem;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
}

.img-wrapper div {
  z-index: 15;
  position: absolute;
  top: 5%;
  right: 8%;
  display: flex;
  justify-content: space-between;
}

.img-wrapper div svg {
  padding: 0 0 0 0.6rem;
}

.img-wrapper div svg:hover {
  color: var(--purple);
  cursor: pointer;
}

.list-item p {
  font-weight: bold;
}

.list-item small {
  font-size: 1rem;
  display: block;
  color: #afafaf;
  text-align: justify;
}

.list-item .tag small {
  font-size: 0.8rem;
}

.list-item .tag span {
  color: var(--white);
  text-decoration: underline;
  font-size: 0.8rem;
}
