.header {
  margin-left: 1rem;
  width: 50%;
}

.header p {
  text-align: justify;
}

.header small {
  color: var(--white);
}

.header h1::first-letter {
  color: var(--blue);
}

@media (max-width: 74rem) {
  .header {
    width: 85%;
  }
}
