.header {
  width: 65%;
  margin: 0 auto;
}

.header p {
  text-align: justify;
}

.header small {
  color: var(--white);
}

.header h1::first-letter {
  color: var(--blue);
}

@media (max-width: 74rem) {
  .header {
    width: 85%;
  }
}