.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30rem;
  border-radius: 25px;
  background-color: var(--greyish);
}

@media (max-width: 74rem) {
  .projects-list {
    margin: auto;
    flex-direction: column;
    padding: 0;
  }
}
