.item-section-container {
    margin: 3rem 0;
    padding: 0px 24px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.item-section-container p {
    font-size: 16px;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
}

.item-section-container img {
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
    margin: 0 0.5rem;
}

@media (max-width: 70rem) {
    .item-section-container {
        margin: 1rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-section-container img {
        margin: 0rem;
    }
}