:root {
  --blue: #3498db;
  --white: #ffffff;
  --greyish: #30383c9e;
  --purple: #2d293d;
  --grey: #272727;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2d293d;
  background: -webkit-linear-gradient(to right, #2d293d, #272727, #262331);
  background: linear-gradient(to right, #272727, #272727, #232331);
}

p {
  font-size: 1.2rem;
  color: var(--white);
}

h1 {
  font-size: 3rem;
  color: var(--white);
}

h2 {
  font-size: 1.4rem;
  color: var(--white);
}

.main-screen {
  width: 75%;
  margin: auto;
  min-height: 100vh;
}

@media (max-width: 80rem) {
  .main-screen {
    width: 85%;
  }
}

@media (max-width: 100rem) {
  .main-screen {
    width: 90%;
  }
}
