.container {
  width: 1200px;
  height: 90vh;
  margin: auto;
  display: flex;
}

.container div:nth-child(1) {
  position: relative;
  width: 40%;
}

.container h1 {
  color: white;
}

.container span {
  color: #3498db;
}

.container small {
  color: white;
  padding: 0.5rem 0rem;
}

.container span {
  color: #3498db;
  font-weight: bold;
}

.container div:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
